*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    font-family: Roboto;
}
span,a,img,input,button {
    display: inline-block;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
button {
    border: 0;
}


/* customizing reviews slider */
.swiper-button-next, .swiper-button-prev {
   
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  background: #342d26;
  color: #fff;
  border: 1px solid #ffe99c;
  font-size: 10px;
  cursor: pointer;
  z-index: 9999 !important;
}
.swiper-button-next::after {
    content: "→" !important;
    color: #fff;
    font-size: 25px !important;
}
.swiper-button-prev::after {
    content: "→" !important;
    transform: rotateY(180deg) !important;
    color: #fff;
    font-size: 25px !important;
}

/* customiziing accordion */
.accordion__content {
    overflow: hidden;
     max-height: 0;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.accordion__content.show {
    height: auto;
     
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);   
}


/* customizing link */
.link {
    position: relative;
    font-size: 30px;
}
.link:not(:last-child) *::before {
  position: absolute;
  content: "";
  bottom: -5px;
  width: 0;
  left: 50%;
  height: 3px;
  transition: all 0.3s ease-out;
}
.link *:hover::before {
  background: #fff;
  left: 0;
  width: 100%;
}

/* customizing modal */
.customModal {
    background: #121212 !important;
    color: #fff;
    max-width: 1200px;
    padding: 20px !important;
    z-index: 9999;
    overflow-y: hidden !important;
}
 
.customCloseButton {
    color: #fff;
    font-size: 25px;
    top: 5px;
    margin-top: -10px;
}

.customModalContainer {
    margin: 0 auto;
}